body {
    font-family: Arial, sans-serif;
    background-color: #bdbbff;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}
header #batiment {
    border-radius: 15px;
    display: block;
    margin:auto;
    margin-top: 100px;
}
header #logo {
    position: absolute;
    top: 10px;
    left: 10px;
}