body {
    font-family: Arial, sans-serif;
    background-color: #163767;
    text-align: center;
    margin-top: 10%;
}

h1 {
    color: #ffffff;
}

p {
    color: #ffffff;
}
header #batiment {
    display: block;
    margin: auto;
    width: 100%;
}
header #logo {
    position: absolute;
    top: 10px;
    left: 10px;
}
nav a {
    color: #000000;
    transition: background-color 0.7s ease;
    background-color: #ffffff;
    display: inline-block;
    text-decoration-line: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
nav a:hover {
    background-color: #3498db;
}